<div <%= this %> class ="combo inseleccionable" title="<%==descripcion%>">
    <!--img src="<%== imagen %>" alt="Imagen de <%=nombre%>" width="64px" height="64px"-->
    <img src="http://placehold.it/80.jpg&text=<%==nombre%>" alt="Imagen de <%==nombre%>" width="64px" height="64px">
    <div>
        <label class="nombre"> <%= nombre %>      </label>
        <label class="precio"> <%= precio %> Bsf. </label>
    </div>
   
</div>