<div <%= this %> class ="Producto"> <!-- TODO cambiar en el CSS Producto por "producto" y quitar el class="Producto" -->
   <!--img src="<%== imagen %>" alt="Imagen de <%=nombre%>" width="64px" height="64px"-->
   <img src="http://placehold.it/80.jpg&text=<%=nombre%>" alt="Imagen de <%=nombre%>" width="64px" height="64px">
   <br/> <!--TODO El <br> debe ser quitado en pro del css -->
   <label> <%= nombre %> </label>
   <br/> <!--TODO El <br> debe ser quitado en pro del css -->
   <label> <%= precio %> Bsf. </label>
</div>