<!-- Recibe:  -->
<!-- titulo 		- Corresponde a la descripcion que se usara para el texto -->
<!-- name_id 		- Corresponde al name del campo de texto -->
<!-- filas	 		- Corresponde al numero de filas del area de texto -->
<!-- columnas 		- Corresponde al numero de columnas del area de texto -->
<!-- validaciones 	- Es el arreglo de todas la validaciones que se hacen al campo -->
<div id="titulo_<%=name_id%>" class="titulo_campo">
	<%=titulo%>
</div>
<div id="espaciado_<%=name_id%>">
</div>
<textarea type="text" name="<%=name_id%>" rows="<%=filas%>" cols="<%=columnas%>" /> 
	