<tr <%= this %> class="fondo_blanco">
        <td>
            <img src="http://placehold.it/80.jpg&text=<%=nombre%>" alt="Imagen de <%=nombre%>" width="64px" height="64px">
        </td>
        <td>
            <label>
                <%= nombre %>
            </label>
        </td>
        <td>
            <label>
                <%= proveedor %>
            </label>
        </td>
        <td>
            <label>
                <%= cantidad %>
            </label>
        </td>
        <td>
            <label>
                <%= precio %>
            </label>
        </td>
        <td>
            <div class = "boton_amarillo"
                 title='Aquí podras eliminar este producto del sistema.'>
                <!--onclick="if(confirm('Esta seguro de eliminar {{p.nombre}} del inventario')) location.href='eliminar_producto/{{p.id}}'"-->
                <label>
                    X
                </label>
            </div>
        </td>
    </tr>